<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <ul class="nav_bar">

      <li><a href="Register.ejs">Register</a></li>
      <li><a href="login.ejs">Login</a></li>
      <li><a href="index.ejs">Home</a></li>

  </ul>

  </nav>
  <h1> Decision Maker </h1>
  <section>
    <form action="" method="get" role="form" class="">
      <h2>Question</h2>
      <input type="text" name="question" id="question" value placeholder="Enter question">
      <h2>Options</h2>
      <input type="text" name="options[A]" id="opt_a" value placeholder="Option 1:">
      <input type="text" name="options[B]" id="opt_b" value placeholder="Option 2:">
      <input type="text" name="options[C]" id="opt_c" value placeholder="Option 3:">
      <button type="button" onclick="" id="add_option_btn">Add option</button>
    </form>
  </section>
</body>

</html>
