<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  </head>

<body>
  <nav>
    <ul class="nav_bar">

      <li><a href="register.ejs">Register</a></li>
      <li><a href="login.ejs">Login</a></li>
      <li><a href="index.ejs">Home</a></li>
  </ul>

  </nav>
  <h1> Decision Maker </h1>
  <section>
    <form id="poll_form">
      <div>
        <!-- <label for="email">Please Enter Your Email:</label>
        <input type="email" id="email" name="email"> -->
    </div>

      <div id="question">
        <h2>Question</h2>
        <input type="text" name="question" id="question" placeholder="Enter question">
      </div>
        <div id="options">
        <h2>Options</h2>
        <label>Option 1:</label>
        <input type="text" name="title_1" placeholder="Title">
        <textarea name="descrption_1" placeholder="Desciption (optional)"></textarea>
        <label>Option 2:</label>
        <input type="text" name="title_2" placeholder="Title">
        <textarea name="descrption_2" placeholder="Desciption (optional)"></textarea>
        <label>Option 3:</label>
        <input type="text" name="title_3" placeholder="Title">
        <textarea name="descrption_3" placeholder="Desciption (optional)"></textarea>

      </div>
      <button type="button" class="add-option-btn">Add option</button>
      <button type="submit">Create Poll</button>
    </form>
  </section>
  <section>
    <div class="result">
      <h2>Created poll</h2>
      <div class="admin_link">
        <strong>Administrative Link (View Results):</strong>
        <a id="adminLink" href="" target="_blank"></a>
      </div>
      <div class="shared_link">
        <strong>Submission Link (Share with friends):</strong>
        <a id="sharedLink" href="" target="_blank"></a>
      </div>
    </div>
  </section>
  <section class="poll_display">
    <h2>Created Poll</h2>
    <h3 class="question_display"></h3>
    <ul class="options_display"></ul>

    <h3>Options vote</h3>
  <form id="vote">
    <div class="options_votes"></div>
    <button type="submit">Submit vote</button>
  </form>
  </section>
</body>
</html>
